@model IEnumerable<DataLayer.Empleado>

@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employe</title>
</head>

<body>

    <h1>
        Employees
    </h1>
    <br />
    <p>
        @Html.ActionLink("New Employee", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.eliminado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sucursales.sucursal)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.edad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sexo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaIngreso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.salario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.eliminado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaCreacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sucursal)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
</body>
</html>
